*
!*.yaml
!.gitignore
!automaation
!broadlink
!climate
!custom_components
!customize
!devices
!group
!packages
!panels
!python_scripts
!scenes
!scripts
!themes
images
tts
www
home-assistant_v2.db
secrets.yaml
known_devices.yaml